.gradient{
    /*-fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);*/
    -fx-background-color: linear-gradient(to bottom right, #141790, #347c7e);
}

.white-form{
    -fx-background-color: #fff;
}

.head-lable{
    -fx-border-color: #286155;
    -fx-border-width: 0 0 0 5px;
    -fx-padding: 0 0 0 5px;
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom right, #141790, #347c7e);
    -fx-border-radius: 10px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #141790, #347c7e);
}

.textField{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #141790, #347c7e);
    -fx-border-width: .5px;
}

.create-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
}

.create-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.comboBox{
    -fx-border-color: linear-gradient(to bottom right, #141790, #347c7e);
    -fx-background-color: transparent;
}